.App {
  background-color: #ff0080;
}

.Button {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border: 2px solid #4caf50;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.carousel {
  width:900px;
  height:500px;
  margin: auto;
}
